
.container {
  position: relative;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.holy {
  position: absolute;
  top:92%;
  left:50%;
  transform:translate(-50%, -50%);
  color:white;
  font-size:49px;
}
 /* https://www.w3schools.com/howto/howto_css_image_text.asp */
